#primary_stats ul {
    list-style: none;
    padding-left: 0;
}

li.primary_stat {
    padding: 5px;
    border-bottom: 1px solid #555;
    border-top: 1px solid #eee;
}

li.primary_stat:first-child {
    border-top: none;
}

li.primary_stat:last-child {
    border-bottom: none;
}

li.primary_stat h3 {
    display: inline-block;
}

#secondary_stats ul {
    list-style: none;
    padding-left: 0;
}

li.secondary_stat {

}

li.secondary_stat strong:after {
    content: ":";
}

li.primary_stat input[type="text"] {
    display: inline-block;
    font-size: 16pt;
    text-align: center;
    width: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #333 inset;
    background-image: linear-gradient(#ababab, #dcdcdc);
}

div.ability_group {
    width: 300px;
    display: inline-block;
}

p.level:before {
    content: "Level: ";
}