#primary_stats {
    width: 300px;
}

div.primary_stat {
    margin-top: 5px;
    margin-left: 5px;
}

div.primary_stat h3 {
    display: inline-block;
}

div.primary_stat p {
    display: inline-block;
}

div.ability_group {
    width: 300px;
    display: inline-block;
}
