body {
    background: lightgray;
    font: 13px/1.4 Helvetica, arial;
    font-family: helvetica, arial;
    color: #222;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}

#left {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

#right {
    width: 60%;
    display: inline-block;
}

div.box {
    margin: 5px;
    background-color: #cbcbcb;
    background-image: linear-gradient(#dcdcdc, #cbcbcb);
    border-radius: 5px;
    border: 1px solid #666;
    box-shadow:
    -1px -1px 6px #bbb inset, /* Inset shadow */
    1px 1px 8px #111; /* Outset shadow */
}

div.box_header {
    background-color: #bababa;
    background-image: linear-gradient(#bababa, #ababab);
    background-repeat: repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #666;
    position: relative;
}

h2.box_title {
    text-align: center;
    font-variant: small-caps;
    color: #111;
    text-shadow: 1px 1px 1px #eee;
}

div.box_content {
    padding: 5px;
    border-top: 1px solid #eee;
}

div.box_footer {
    background-color: #bababa;
    background-image: linear-gradient(#bababa, #ababab);
    background-repeat: repeat-x;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #666;
    min-height: 10px;
    text-align: center;
}

.dialog_message {
    position: fixed;
}